.effect {
  display: none;
  min-height: 350px;
  width: 100%;
  padding-top: 60px;

  @media (min-width: 660px) {
    display: block;
    height: 100px;
  }

  @media (min-width: 960px) {
    display: block;
    height: 100px;
    background-color: #f2f2f2;
  }
}


.timer-description {
  display: inline-block;
  width: 49%;
  vertical-align: bottom;

  @media (min-width: 960px) {
    width: 66%;
  }
}

.zhopa {
  display: block;
  width: 100px;
  height: 100px;
}
