.text-title {
  margin: 0;
  padding: 0 20px;
  font: 300 2.4rem/3rem @font;
  color: white;
  text-align: center;

  .page-header & {
    margin-top: 20px;
  }
  .advantage-app & {
    color: @primary-color;
    line-height: 2.9rem;
  }
  .contacts & {
    margin: 0 20px;
    color: @secondary-color;
  }
  .contacts &:first-child {
    color: @primary-color;
  }
}

.text-primary {
  margin: 0;
  padding: 0 20px;
  font: 400 1.4rem/2.4rem @font;
  color: black;
  text-align: center;

  .mob-app & {
    color: white;
  }
  .effect & {
    margin: 0 5% 0 50%;
    padding: 0;
    font: 400 1.4rem/2.4rem @font;
    text-align: left;
  }
  .slider & {
    padding-bottom: 33px;
    line-height: 3rem;
  }
}

.text-primary-bold {
  margin: 0;
  padding: 0 20px;
  font: 600 1.8rem/2.4rem @font;
  color: black;
  text-align: center;

  .advantage-app & {
    margin: 31px 0 12px 0;
  }
  .advantage-app:first-child & {
    margin-top: 0;
  }
  .effect & {
    margin: 0;
    padding: 96px 0 10px 50%;
    font: 800 3rem/3.6rem @font;
    text-align: left;
  }
  .slider & {
    margin-bottom: 16px;
  }
  .prices & {
    color:white;
    line-height: 3rem;
    text-transform: uppercase;
  }
  .contacts & {
    margin-top: 28px;
  }
}
