.mob-app {
  margin-top: 370px;
  padding: 15px 0;
  background-color: #1d2631;
  font-size: 0;
  @media (min-width: 660px) {
    margin-top: 150px;
    background-color: transparent;
    width: 50%;
  }
}

.download-btn {
  display: block;
  margin: 0 20px 32px;
  font: 600 1.8rem/4.9rem @font;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 27px;

  &:hover {
    background-color: lighten(#1d2631, 10%);
    border-color: darken(white, 70%);
  }
}

.download-link {
  height: 57px;
  margin: 0 20px 22px;
  text-align: center;

  &__icon {
    display: inline-block;
    vertical-align: baseline;
    width: 46px;
    height: 57px;
    margin: 0 17px;

    &--apple{
      background: url('@{img}/apple-logo.png') no-repeat 50% 50%;
    }
    &--android{
      background: url('@{img}/android-logo.png') no-repeat 50% 80%;
    }
    &--ms{
      background: url('@{img}/ms-logo.png') no-repeat 50% 70%;
    }
  }
}
